---
---
<div>
    <div id="index-menu" class="center">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle"><img id="menu-icon" src="/img/menu.svg" alt="Menu icon."></label>
        <ul id="index-menu-list">
            <li class="index-menu-item"><a href="#hero">Top</a></li>
            <li class="index-menu-item"><a href="#quote">Opinion</a></li>
            <li class="index-menu-item"><a href="#skills">Skills</a></li>
            <li class="index-menu-item"><a href="#solution">Solution</a></li>
            <li class="index-menu-item"><a href="#portfolio">Portfolio</a></li>
            <li class="index-menu-item"><a href="#work-experiences">Work experience</a></li>
            <li class="index-menu-item"><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>
<div id="hero" class="index-center index-section">
    <div id="hero-background-image"></div>
    <h2 class="index-title">Ordinary Nick</h2>
    <img class="avatar" src="img/avatar.png" width="5em" alt="Avatar" title="Rostislav Novak photo">
    <h3 class="index-subtitle">Hello, I am Rostislav Novák (Ordinary Nick), a software developer with eight years of experience. I am primarily using Java programming language, but I can quickly learn any other language. Also, I have an interest in DevOps.</h3>
</div>

<div id="index-wrapper" class="center">
    <div id="quote" class="index-center index-section">
        <blockquote class="text-fill">All programming languages are very similar. Always learn common programming knowledge</blockquote>
        <p class="text-fill">
            In my opinion, the programming language does not matter. All languages are quite similar. That's why I am focusing on the knowledge of programming paradigms and techniques, design patterns, algorithms, and other things in computer science. Also, I like trying new technologies.
        </p>
    </div>
    <div id="skills" class="index-center index-section">
        <h3 class="index-section-title">Skills</h3>
        <div class="skill-groups">
            <div>
                <h4>Using</h4>
                <ul class="icon-list">
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/java.svg" alt="“Java icon" width="48" title="Java">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/spring.svg" alt="Springboot icon" width="48" title="Springboot">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/reactivex.svg" alt="ReactiveX icon" width="48"
                             title="ReactiveX - Reactive programming">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/hibernate.svg" alt="Hibernate icon" width="48" title="Hibernate">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/mysql.svg" alt="MySQL icon" width="48" title="MySQL">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/gitlab.svg" alt="Gitlab icon" width="48" title="Gitlab">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/docker.svg" alt="Docker icon" width="48" title="Docker">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/kubernetes.svg" alt="Docker icon" width="48" title="Kubernetes">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/linux.svg" alt="Linux icon" width="48" title="Linux">
                    </li>
                </ul>
            </div>
            <div>
                <h4>Learning</h4>
                <ul class="icon-list">
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/cpp.svg" alt="C++ icon" width="48" title="C++">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/angular.svg" alt="Angular icon" width="48" title="Angular">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/kotlin.svg" alt="Kotlin icon" width="48" title="Kotlin">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/android.svg" alt="Android icon" width="48" title="Android">
                    </li>
                    <li class="icon-list-item shadow">
                        <img src="img/technologies/ruby.svg" alt="Ruby icon" width="48" title="Ruby">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="solution" class="index-center index-section">
        <h3 class="index-section-title">How I resolve problems.</h3>
        <div class="index-section-items">
            <div class="index-section-item">
                <h4 class="index-section-header">
                    Keep it simple
                </h4>
                <p class="text-fill">
                    The solution should be simple, but also it should not be a hacky solution.
                </p>
                <img class="invert-color_and_shadow" src="img/solution/simple.svg" alt="Simple solution icon"
                     width="48" title="Simple solution">
            </div>
            <div class="index-section-item">
                <h4 class="index-section-header">
                    Make it extensible
                </h4>
                <p class="text-fill">
                    The solution should be very robust and easily extensible for new changes.
                </p>
                <img class="invert-color_and_shadow" src="img/solution/extensible.svg" alt="Extensible solution icon"
                     width="50" title="Extensible solution">
            </div>
            <div class="index-section-item">
                <h4 class="index-section-header">
                    Performance vs readability
                </h4>
                <p class="text-fill">
                    The solution should perform fast and responsive, but the priority is readability.
                </p>
                <img class="shadow" src="img/solution/readability.svg" alt="Readable solution icon" width="52"
                     title="Readable solution">
            </div>
        </div>
    </div>
    <div id="portfolio" class="index-center index-section">
        <h3 class="index-section-title">Portfolio</h3>
        <div class="index-section-items">
            <div class="index-section-item">
                <h4 class="index-section-header">
                    <a href="https://reactiveworld.net">Reactive World</a>
                </h4>
                <p class="text-fill">
                    Blog about Reactive programming, ReactiveX, Java Streams and my implementation of RxSmalltalk.
                </p>
                <p>
                    <a href="https://reactiveworld.net">reactiveworld.net<a>
                </p>
                <a target="_blank" href="https://reactiveworld.net">
                    <img class="index-image" src="img/portfolio/thumb_reactiveworld.net.png"
                         alt="reactiveworld.net image"
                         title="Blog reactiveworld.net">
                </a>
            </div>
            <div class="index-section-item">
                <h4 class="index-section-header">
                    <a href="https://github.com/OrdinaryNick/SimpleRubyJVM">JVM written in Ruby</a>
                </h4>
                <p class="text-fill">
                    Simple implementation of JVM in Ruby. The aim was to learn how JVM works.
                </p>
                <p>
                    <a href="https://github.com/OrdinaryNick/SimpleRubyJVM">Github - SimpleRubyJVM</a>
                </p>
                <a target="_blank" href="img/portfolio/simple-ruby-jvm.png">
                    <img class="index-image" src="img/portfolio/thumb_simple-ruby-jvm.png" alt="SimpleRubyJVM image"
                         title="Simple Ruby JVM">
                </a>
            </div>
            <div class="index-section-item">
                <h4 class="index-section-header">
                    <a href="https://gitlab.com/ordinarynick-portfolio/angular-fractals">Angular Fractals</a>
                </h4>
                <p class="text-fill">
                    Angular web application for exploring fractals.
                </p>
                <p>
                    <a href="https://gitlab.com/ordinarynick-portfolio/angular-fractals">Gitlab - Angular Fractals</a>
                </p>
                <p>
                    <a href="https://ordinarynick.cloud/fractals">Demo</a>
                </p>
                <a target="_blank" href="https://ordinarynick.cloud/fractals">
                    <img class="index-image" src="img/portfolio/thumb_fractals.png" alt="Fractals image"
                         title="Angular Fractals">
                </a>
            </div>
        </div>
    </div>
    <div id="work-experiences" class="index-center index-section">
        <h3 class="index-section-title">Work experience</h3>

        <div class="index-work-experience-item">
            <h4 class="index-work-experience-header">
                Internet Mall, a.s. (E-Commerce) - Java Developer
            </h4>
            <ul>
                <li>September 2018 - today</li>
                <li>Developing microservices for the last mile (From showing all available transport for an order to
                    picking
                    the right transport for order). Some of the services were service responsible for picking Transport,
                    service for warning if the pick-up point is full with ability to disable it for some time, service
                    for
                    showing fastest available delivery at product detail.
                </li>
                <li>Technological stack: Java 11, Springboot, Hibernate, Gitlab, Docker, Helm, Kubernetes, Kibana,
                    Grafana,
                    Prometheus, OpenStack, Vue.js
                </li>
            </ul>
        </div>
        <div class="index-work-experience-item">
            <h4 class="index-work-experience-header">
                LinkSoft - Java Developer
            </h4>
            <ul>
                <li>May 2016 – July 2018</li>
                <li>Developing service and rich client for a food e-commerce company. Service was responsible for
                    setting
                    individual prices for articles and responsible for creating an order for a customer.
                </li>
                <li>Technological stack: Java 7, Java Swing, Spring, Hibernate, Oracle, Microsoft TFS, Docker</li>
            </ul>
        </div>
        <div class="index-work-experience-item">
            <h4 class="index-work-experience-header">
                Czech Technical University, Computing Information Center - Java Developer
            </h4>
            <ul>
                <li>November 2013 – April 2016</li>
                <li>Programming Java backend application for persistence store of thesis and RESTful API for DSpace. And
                    implementing CTU design on the DSpace front end.
                </li>
                <li>Programming PHP service with front-end for managing DHCP servers.</li>
                <li>Technological stack: Java 7, JBoss, Tomcat, Oracle, PHP 5, Symfony 2, Doctrine</li>
            </ul>
        </div>

        <!-- <a href="/work-experience-and-education">More in Work experience page.</a> -->
    </div>
    <div id="contact" class="index-center index-section">
        <h3 class="index-section-title">Contact</h3>
        <ul class="icon-list">
            <li class="icon-list-item invert-color_and_shadow"><a href="mailto: rostislav@ordinarynick.com"><img
                    src="img/contact/email.svg"
                    alt="“Email icon" width="48;" title="E-mail"></a></li>
            <li class="icon-list-item shadow"><a href="https://gitlab.com/OrdinaryNick"><img
                    src="img/contact/gitlab.svg"
                    alt="“Gitlab icon" width="48;" title="Gitlab"></a></li>
            <li class="icon-list-item invert-color_and_shadow"><a href="https://github.com/OrdinaryNick"><img
                    src="img/contact/github.svg"
                    alt="“Github icon" width="48;" title="Github"></a></li>
            <li class="icon-list-item shadow"><a href="https://twitter.com/OrdinaryNick"><img
                    src="img/contact/twitter.svg"
                    alt="“Twitter icon" width="48;" title="Twitter"></a></li>
            <li class="icon-list-item shadow"><a href="https://www.linkedin.com/in/ordinarynick/"><img
                    src="img/contact/linkedin.svg"
                    alt="“LinkedIn icon" width="48;" title="LinkedIn"></a></li>
            <li class="icon-list-item shadow"><a href="https://stackoverflow.com/users/1035771/ordinarynick"><img
                    src="img/contact/stackoverflow.svg"
                    alt="“Stack Overflow icon" width="38;" title="Stack Overflow"></a></li>
        </ul>
    </div>
</div>
