<div class="wrapper flex center padding-left-right">
    <div class="middle">
        <a href="{{ "" | absLangURL }}">
        <h1>
<!--            <span><img id="title-icon" src="{{ .Site.BaseURL }}img/icon.svg" alt="OrdinaryNick's blog icon."></span>-->
            <span id="title">{{ .Site.Title }}</span>
        </h1>
        </a>
    </div>
    <nav class="right">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle"><img id="menu-icon" src="/img/menu.svg" alt="Menu icon."></label>
        <ul class="menu-list">
            {{ range .Site.Menus.main.ByWeight }}
            {{ $text := .Name | safeHTML }}
            <li class="menu-item text-bold text-center">
                <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</div>