<meta charset="utf-8">

{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>

<meta name="title" content="Ordinary Nick">
<meta name="author" content="Ordinary Nick">
<meta name="description" content="Ordinary Nick webpage">
<meta name="keywords" content="Ordinary Nick,Rostislav Novak,Rostislav Novák,Software Developer,DevOps,NoOps,Spring,Java,Kotlin,Programming,Reactive Programming">
<meta name="language" content="English">

<!-- Robots Meta tags -->
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="7 days">

<!-- Meta Tags for HTML pages on Mobile -->
<meta name="format-detection" content="telephone=yes"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- http-equiv Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Links -->
<link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">

{{ $styleCss := resources.Get "css/styles.css" }}
{{ $fontsCss := resources.Get "css/fonts.css" }}
{{ $colorsCss := resources.Get "css/colors.css" }}
{{ $indexCss := resources.Get "css/index.css" }}
{{ $style := slice $styleCss $fontsCss $colorsCss $indexCss| resources.Concat "css/main.css" | minify | fingerprint "sha512"}}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
