html {
    background-color: #242933;
    color: #ECEFF4;
}

header {
    background-color: #242933;
}

@media screen and (max-width: 799px) {
    .menu-list {
        background-color: #242933;
    }
}

header h1, .menu-item a {
    color: #eceff4
}

h2 {
    color: #E5E9F0
}

h3, .post-title a {
    color: #D8DEE9
}

h4 {
    color: #88C0D0;
}

a {
    color: #88C0D0;
}

.post-date {
    color: #595959;
}

hr {
    color: #e0e0e0;
    background-color: #e0e0e0;
}

#title-icon, #menu-icon, .invert-color {
    filter: invert(1);
}

.button-primary {
    border: goldenrod 1px solid;
    background: goldenrod;
    color: black;
}

.button {
    border: black 1px solid;
    background: black;
    color: white;
}

.button-inverse {
    background: white;
    color: black;
}

.button-tag {
    border: silver 1px solid;
    background: silver;
    color: #303030;
}

blockquote {
    border-left: 0.5em solid #3b4252;
    color: #abb9cf;
}

blockquote:before {
    color: #abb9cf;
}
