html {
    font-family: "Verdana", sans-serif;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3 {
    line-height: initial;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-fill {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.button-tag {
    font-weight: initial;
}

blockquote:before, blockquote:after {
    font-size: 4em;
    line-height: 0;
}

blockquote {
    font-style: italic;
}