.index-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#index-wrapper {
    box-shadow: #0f111540 0 4px 6px, #0f11151a 0 5px 7px;
    background-color: #2e3440;

    margin-bottom: 2em;
}

@media screen and (min-width: 1150px) {
    #index-wrapper {
        padding: 2em;
    }
}

@media screen and (min-width: 1750px) {
    #index-wrapper {
        padding: 5em;
    }
}

h3:after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(216, 222, 233, 0.5);
    width: 70%;
    margin: 1.2rem auto;
}

.no-title-space {
    padding: 0;
}

.icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    padding: 0;
}

.icon-list-item {
    padding: 0 0.5em 0 0.5em;
    list-style: none;
}

.index-image {
    width: 20em;
    border: 2px #4C566A solid;
}

/** Index section **/
.index-section {
    padding: 4em 2em 4em 2em;
}

@media screen and (max-width: 799px) {
    .index-section {
        padding: 2em 1em;
    }
}

.index-section-items {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
}

.index-section-item {
    padding: 1em;
    flex: 1 1 0;
    min-width: 0;
}

@media screen and (max-width: 799px) {
    .index-section-items {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .index-section-item {
        padding: 1em 0;
        flex: 1 1 0;
        min-width: 0;
    }
}

/** Index menu **/
#index-menu {
    position: fixed;
    z-index: 10;
    top: -1em;
    left: 0;
    width: 100%;
    padding: 1em 0 0 0;

    color: #D8DEE9;
    background-color: rgba(0, 0, 0, .3);
}

#index-menu-list {
    list-style: none;
    padding: 0;
}

@media screen and (min-width: 800px) {
    #index-menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }

    .index-menu-item {
        margin: 0 0.4em;
    }
}

@media screen and (max-width: 799px) {
    #index-menu-list {
        max-height: 0;
        position: fixed;
        left: 0;
        width: 100%;
        margin: 0;
        transition: 0.2s;
        overflow: hidden;
        top: 2em;

        color: #D8DEE9;
        background-color: rgba(0, 0, 0, .7);
    }

    .index-menu-item {
        margin: 0;
        text-align: center;
    }

    .index-menu-item a {
        display: block;
        margin: 1em;
    }

    #menu-icon {
        display: initial;
        float: right;
        padding-right: 1em;
    }

    #menu-toggle:checked ~ ul {
        max-height: 16em;
    }
}

/** Hero **/
#hero {
    min-height: 100vh;
    padding: 0 2em 0 2em;
}

#hero h2 {
    margin-bottom: 0;
    font-size: 1.5em;
}

#hero h3 {
    font-size: 1.4em;
}

.avatar {
    margin: 2em;
    width: 10em;
    border-radius: 50%;
    border: 5px #ECEFF4 solid;
}

/** Work experience **/
.index-work-experience-item {
    text-align: justify;
}

.index-work-experience-header {
    padding: 2em 0 0 0;
}
