html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.middle {
    margin-top: auto;
    margin-bottom: auto;
}

.down {
    margin-top: auto;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.float-right {
    float: right;
}

.fill {
    width: 100%;
}

.half {
    width: 50%;
}

.third {
    width: 33%;
}

.padding-left-right {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-top-bottom {
    padding-top: 1em;
    padding-bottom: 1em;
}

.padding-all {
    padding: 1em;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    min-height: 100%;
}

.fixed-top {
    position: fixed;
    left: 0;
}

.no-title-space {
    padding-top: 6em;
}

#menu-toggle, #menu-icon {
    display: none;
}

#title-icon, #menu-icon {
    height: 1em;
    padding-bottom: 0.1em;
    vertical-align: middle;
}

#menu-icon {
    padding-top: 0.6em;
    padding-bottom: 0.4em;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    display: inline;
    margin: 0.5em 0 0.5em 1em;
}

#main-title {
    margin: 6em 0 3em 0;
}

.posts-hr {
    margin-top: 3em;
    margin-bottom: 3em;
}

pre {
    padding: 1em;
    overflow-y : auto;
}

footer {
    padding-top: 3em;
    padding-bottom: 1em;
}

.button {
    border-radius: 0.2em;
    padding: 0.5em;
}

.button-tag {
    padding: 0.3em;
}

blockquote {
    margin: 1.5em 1em;
    padding: 0.5em;
}

blockquote:before {
    content: "\201C";
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    content: "\201D";
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    line-height: 1.5;
}

.shadow {
    filter: drop-shadow(1px 1px 1px #0F1115FF);
}

.invert-color_and_shadow {
    filter: invert(1) drop-shadow(1px 1px 1px #0F1115FF);
}

@media screen and (max-width: 799px) {
    .menu-list {
        max-height: 0;
        position: fixed;
        left: 0;
        width: 100%;
        margin: 0;
        transition: 0.2s;
        overflow: hidden;
    }
    
    .menu-item{
        margin: 0;
    }

    .menu-item a {
        display: block;
        margin: 1em;
    }

    #menu-icon {
        display: initial;
    }

    #title {
        display: none;
    }

    #title-icon {
        height: 0.75em;
    }

    #menu-toggle:checked ~ ul {
        max-height: 16em;
    }
}

@media screen and (max-width: 799px) {
    .wrapper {
        margin: 0;
        padding: 2em 0 0;
    }
}

@media screen and (min-width: 800px) {
    .wrapper {
        width: 800px;
    }

    #main-title {
        margin-top: 8em;
    }
}

@media screen and (min-width: 1150px) {
    .wrapper {
        width: 1000px;
    }
}

@media screen and (min-width: 1750px) {
    .wrapper {
        width: 1250px;
    }
}
