<!DOCTYPE html>

<html lang="en">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
{{ if not .IsHome }}
<header class="fill fixed-top text-center">
    {{- partial "header.html" . -}}
</header>
{{ end }}
<div class="wrapper flex-column center fill padding-left-right">
    {{ if or (.Params.title) (.Data.Terms) }}
    <div id="main-title" class="fill text-center">
        {{- block "title" . }}{{- end }}
    </div>
    {{end}}
    <main class="{{ if not (or (.Params.title) (.Data.Terms)) }}no-title-space{{ end }}">
        {{- block "main" . }}{{- end }}
    </main>
    <footer class="down text-center">
        {{- partial "footer.html" . -}}
    </footer>
</div>
</body>
</html>
