{{ define "title" }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ define "main" }}

{{ range .Paginator.Pages }}
<div class="post">
    <div class="post-header flex-column">
        <h2 class="post-title">
            <a href="{{ .RelPermalink }}">{{ .Title}}</a>
        </h2>
        <div class="post-date text-italic">
            {{ .PublishDate.Format "Mar 02, 2006" }}
        </div>
    </div>
    <div class="post-summary padding-top-bottom text-fill">
        {{ if .Truncated }}
        {{ .Summary }}
        {{ else }}
        {{ .Content }}
        {{ end }}
    </div>
    <div class="post-footer flex">
        {{ if .Params.tags }}
        <div class="post-tags text-italic">
            {{ range .Params.tags }}
            <a class="button button-tag" href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">#{{ . }}</a>&nbsp;
            {{ end }}
            </span>
        </div>
        {{ end }}
        <div class="post-read-more right">
            <a class="button button-primary" href="{{ .Permalink }}">Read more</a>
        </div>
    </div>
    <hr class="posts-hr">
</div>
{{ end }}

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="fill">
    {{ if .Paginator.HasPrev }}
        <a class="button button-inverse" href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">Newer posts</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
        <a class="button  button-inverse float-right" href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Older posts</a>
    {{ end }}
</div>
{{ end }}

{{ end }}
