{{ define "title" }}
<h1>{{ .Title }}</h1>
{{ if .Params.subtitle }}
<h2>
    {{ .Params.subtitle }}
</h2>
{{ end }}
{{ end }}

{{ define "main" }}
<div class="text-fill">
    {{ .Content }}
</div>

<!--TODO 18 Fix and test disqus-->
{{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
{{ if .Site.DisqusShortname }}
<div class="disqus-comments">
    {{ template "_internal/disqus.html" . }}
</div>
{{ end }}
{{ end }}

{{ end }}
