{{ define "title" }}
<h1>Tags</h1>
{{ end }}

{{ define "main" }}

{{ range .Data.Terms.Alphabetical }}
<div class="center half padding-top-bottom">
  <a href="{{ .Page.Permalink }}">
    <span class="button button-tag">#{{ .Page.Title }}</span>
    <span class="float-right">{{ .Count }}</span>
  </a>
</div>
{{ end }}

{{ end }}
